.system-container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  
  .desktop-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0A3B76;
    overflow: hidden;
  }
}